/* Root */
:root {
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --complementary-color: #ff7f50; /* Coral */
    --text-color: #444444; /* Dark Charcoal */
    --heading-color: #1a1a1a; /* Very Dark Gray */
    --spacing-xsmall: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 3rem;
    --border-radius: 0.25rem;
    --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    --transition: 0.3s;

    /* Dark Mode Variables */
    --dark-background-gradient: linear-gradient(135deg, #1a2a40, #233f5a, #3a5574, #516b8e); /* Mimics a night sky */
    --dark-nav-background: #1a1a1a;
    --dark-text-color: #f8f9fa; /* Light text */
    --dark-heading-color: #ffffff; /* White text for headings */
}

/* Reset and box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Default Properties */
body, html {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    margin: 0;
    height: 100vh; /* Ensure the body takes up the full height */
    display: flex; /* Allows for flexbox centering */
    flex-direction: column;
    overflow: hidden; /* Prevent scrolling */
}

body.dark-mode {
    background: var(--dark-background-gradient);
    color: var(--dark-text-color);
}

h1, h2, h3 {
    color: var(--heading-color);
    margin: 0;
    font-family: 'Playfair Display', serif; /* Use Playfair Display for headings */
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
    color: var(--dark-heading-color);
}

/* Nav bar */
header {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: var(--spacing-medium) 0;
    text-align: center;
}

body.dark-mode header {
    background-color: var(--dark-nav-background);
    color: var(--dark-text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-large);
    padding: 0 var(--spacing-large); /* Add padding to ensure the nav contents have some space from the edges */
    width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--dark-color);
    transition: color var(--transition);
}

body.dark-mode nav a {
    color: var(--dark-text-color);
}

nav a:hover,
nav a:focus {
    color: var(--complementary-color); /* Add hover and focus effect */
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo i {
    font-size: 2rem;
    color: var(--complementary-color);
    margin-right: var(--spacing-xsmall);
}

.logo h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.2;
}

/* Search */
.search-container {
    flex: 1 1 auto; /* Allows the search container to grow and shrink as needed */
    display: flex;
    justify-content: center;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    padding: 0.25rem 0.5rem;
    max-width: 400px;
    width: 100%;
}

body.dark-mode .search-box {
    background-color: #333;
    color: var(--dark-text-color);
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 2rem;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0.5rem;
    transition: transform var(--transition);
}

.search-box button:hover,
.search-box button:focus {
    transform: scale(1.1); /* Add hover and focus effect */
}

.search-box button i {
    font-size: 1.75rem;
    color: var(--complementary-color);
}

search-box input::placeholder {
    color: var(--text-color);
}

body.dark-mode .search-box input::placeholder {
    color: var(--dark-text-color);
}

nav div {
    margin: 0 var(--spacing-medium);
}

/* Switches */
.switch-container {
    display: flex;
    align-items: center;
}

.switch-container i {
    font-size: 1.75rem;
    color: var(--complementary-color);
    transition: color var(--transition);
}

.switch-container div {
    margin-right: var(--spacing-small);
    background-color: var(--light-color);
    border-radius: 50%;
    width: 2.5rem; /* Use rem for size */
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition), transform var(--transition), color var(--transition);
}

.switch-container div:hover,
.switch-container div:focus {
    background-color: var(--complementary-color);
    transform: scale(1.1); /* Add hover and focus effect */
}

.switch-container div:hover i,
.switch-container div:focus i {
    color: var(--light-color); /* Change icon color on hover and focus */
}

/* Main */
main {
    flex: 1;
    display: grid;
    grid-template-columns: 25% 50% 25%; /* Columns: 25%, 50%, 25% */
    grid-template-rows: 1fr 1fr; /* Two equal rows */
    gap: var(--spacing-medium); /* Optional: Adjust gap between grid items */
    background: linear-gradient(135deg, #7ec8e3, #66b2ff, #99d6ff, #cce7ff); /* Re-add background */
    overflow: hidden; /* Prevents main from causing scrollbars */
}

body.dark-mode main {
    background: var(--dark-background-gradient);
}

.grid-item.top.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-item.left,
.grid-item.right {
    grid-row: span 2; /* Outer columns span two rows */
}

#temp-container {
    display: flex;
    align-items: center;
}

#temp, #unitGroup {
    font-size: 7.5rem;
}

#unitGroup {
    color: var(--complementary-color);
    font-size: 5rem;
    align-self: flex-start;
}
